.body {
background-color: silver;
}

.title {
  text-align: center;
  color: saddlebrown;
  padding-top: 20px;
}

.lists > a {
  margin-bottom: 5px;
  text-align: center;
  padding-left: 300px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.body > h2 {
  text-align: center;
  color: salmon;
  margin-top: 25px;
}

.body > p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.list {
  text-align: center;
  list-style-position: inside;
}
